In [1]:
import numpy as np
import pandas as pd

In [58]:
# satellite = "landsat-8-c2-l2"
# satellite = "sentinel-2-l2a"
satellite = "landsat-c2-l2"

country_code = 'ZMB' # 'TZA' # 'NGA'

# points = 15
points = 20

num_features = 1024

# bands_short = "2-3-4"
# bands_short = "2-3-4-8"
# bands_short = "1-2-3-4-5-6-7"
bands_short = "r-g-b-nir-swir16-swir22"
# bands_short = "2-3-4-5-6-7-8-11-12"

year = 2014

file_name = (f'{satellite}_bands-{bands_short}_{country_code}_{points}'+
             f'k-points_{num_features}-features_{year}')
file_name

'landsat-c2-l2_bands-r-g-b-nir-swir16-swir22_ZMB_20k-points_1024-features_2014'

In [59]:
df_1 = pd.read_feather(f"partial_features/{file_name}_1.feather")
df_2 = pd.read_feather(f"partial_features/{file_name}_2.feather")
df_3 = pd.read_feather(f"partial_features/{file_name}_3.feather")
df_4 = pd.read_feather(f"partial_features/{file_name}_4.feather")
df_5 = pd.read_feather(f"partial_features/{file_name}_5.feather")
df_6 = pd.read_feather(f"partial_features/{file_name}_6.feather")
df_7 = pd.read_feather(f"partial_features/{file_name}_7.feather")
df_8 = pd.read_feather(f"partial_features/{file_name}_8.feather")
df_9 = pd.read_feather(f"partial_features/{file_name}_9.feather")
df_10 = pd.read_feather(f"partial_features/{file_name}_10.feather")
df_11 = pd.read_feather(f"partial_features/{file_name}_11.feather")
df_12 = pd.read_feather(f"partial_features/{file_name}_12.feather")
df_final = pd.concat([
    df_1, 
    df_2, 
    df_3,
    df_4,
    df_5,
    df_6,
    df_7,
    df_8,
    df_9,
    df_10,
    df_11,
    df_12
]).reset_index(drop = True)
df_final

,0,1,2,3,4,5,6,7,8,9,...,1018,1019,1020,1021,1022,1023,lon,lat,year,month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.144878,-16.384232,2014,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.124878,-16.384232,2014,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.134878,-16.384232,2014,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.134878,-16.394232,2014,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.104878,-16.324232,2014,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28.044878,-16.754232,2014,12
181599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.994878,-16.744232,2014,12
181600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.974878,-16.744232,2014,12
181601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.964878,-16.744232,2014,12
181602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.954878,-16.744232,2014,12

In [33]:
# import seaborn as sns
# sns.heatmap(df_4.iloc[:,:-4])

In [34]:
# df_1

In [35]:
# df_2

In [36]:
# df_3

In [37]:
# df_4

In [38]:
# df_5

In [39]:
# df_6

In [40]:
# df_7

In [41]:
# df_8

In [42]:
# df_9

In [43]:
# df_10

In [44]:
# df_11

In [45]:
# df_12

In [60]:
df_final.to_feather(f"features/{file_name}.feather")